<li class="nav-item">
  <%= link_to 'Modelos', car_models_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Categorias', categories_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Filiais', subsidiaries_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Fabricantes', manufactures_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Configurar preços de locações', rental_prices_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Adicionais de locação', addons_path, class: 'nav-link' %>
</li>